.git
.DS_Store
**/.DS_Store

android/.gradle
android/**/build
android/app/debug
android

backend/commory
backend/coverage.out
backend/data

web/node_modules
web/dist
web/.auto-import.json
web/src/types/import/auto-imports.d.ts
web/src/types/import/components.d.ts

previewer/node_modules
previewer/dist
previewer

references
references/*/.git
